@charset "utf-8";

//Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

//My Color Scheme
$charcoal: #34435e;
$japanese-indigo: #2b374d;

$slate-blue: #6369d1;
$turquoise: #60e1e0;
$granny-smith-apple: #9ee493;
$periwinkle: #c6d4ff;

$white-smoke: #f5f5f5;
$gainsboro: #dfdfdf;

// Update Bulma's global variables
$family-sans-serif: 'Nunito', sans-serif;
$grey-darker: $japanese-indigo;
$grey-dark: $charcoal;
$grey-light: $gainsboro;
$primary: $slate-blue;
$primary-invert: $white-smoke;
$info: $turquoise;
$info-invert: $charcoal;
$link: $periwinkle;
$success: $periwinkle;
$success-invert: $charcoal;
$link-invert: $charcoal;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$body-background-color: $white-smoke;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;
$footer-padding: 2rem 1.5rem 2rem;

// Import only what you need from Bulma
// @import "../node_modules/bulma/sass/layout/hero.sass"
@import '../node_modules/bulma/sass/utilities/_all.sass';
@import '../node_modules/bulma/sass/base/_all.sass';
@import '../node_modules/bulma/sass/elements/_all.sass';
@import '../node_modules/bulma/sass/grid/_all.sass';
@import '../node_modules/bulma/sass/layout/_all.sass';
@import '../node_modules/bulma/sass/components/message.sass';

.rounded-corners {
  border-radius: 10px;
}

.has-top-margin {
  margin-top: 1rem;
}

.has-bottom-margin {
  margin-bottom: 2rem;
}

.bouncy-arrow {
  @include mobile {
    margin-bottom: 64px;
  }
}

.fa-lg {
  text-align: center;
}

.copyright {
  margin-top: 0.25rem;
}

.competition-listing {
  height: 100%;
}

@media only screen and (max-width: 600px) {
  .project-container {
    margin-left: 6%;
    margin-right: 6%;
  }
}

@media only screen and (max-width: 768px) and (min-width: 600px) {
  .project-container {
    margin-left: 15%;
    margin-right: 15%;
  }
}

@media only screen and (min-width: 1200px) {
  .project-container {
    margin-left: 13%;
    margin-right: 13%;
  }
  .competition-container {
    margin-left: 10%;
    margin-right: 10%;
  }
  .larger-icon-list {
    margin-right: 29%;
  }
}

@media only screen and (min-width: 2000px) {
  .project-container {
    margin-left: 20%;
    margin-right: 20%;
  }
}

@media only screen and (min-width: 3000px) {
  .project-container {
    margin-left: 30%;
    margin-right: 30%;
  }
  .competition-container {
    margin-left: 20%;
    margin-right: 20%;
  }
}

.project-listing:hover {
  -webkit-animation: project-listing 0.4s cubic-bezier(0.25, 0.46, 0.42, 0.96) both;
  animation: project-listing 0.4s cubic-bezier(0.25, 0.46, 0.42, 0.96) both;
}

@-webkit-keyframes project-listing {
  0% {
    box-shadow: 0 0 0 0 $link;
  }
  100% {
    -webkit-transform: scale(1.01);
    transform: scale(1.01);
    box-shadow: 0 0 1em 0 $link;
  }
}
@keyframes project-listing {
  0% {
    box-shadow: 0 0 0 0 $link;
  }
  100% {
    -webkit-transform: scale(1.01);
    transform: scale(1.01);
    box-shadow: 0 0 1em 0 $link;
  }
}

.bouncy-arrow {
  animation: bouncy-arrow 4s infinite;
}

@-webkit-keyframes bouncy-arrow {
  0%,
  50%,
  70%,
  90%,
  100% {
    -webkit-transform: translate(0);
    transform: translateY(0);
  }
  60% {
    -webkit-transform: translate(-1.8em);
    transform: translateY(-1.8em);
  }
  80% {
    -webkit-transform: translate(-2.1em);
    transform: translateY(-2.1em);
  }
}

@keyframes bouncy-arrow {
  0%,
  50%,
  70%,
  90%,
  100% {
    -webkit-transform: translate(0);
    transform: translateY(0);
  }
  60% {
    -webkit-transform: translate(-1.8em);
    transform: translateY(-1.8em);
  }
  80% {
    -webkit-transform: translate(-2.1em);
    transform: translateY(-2.1em);
  }
}
