@charset "utf-8";

//Import a Google Font
@import url("https://fonts.googleapis.com/css?family=Nunito:400,700");

//My Color Scheme
$charcoal: #34435E;
$japanese-indigo: #2B374D;

$slate-blue: #6369D1;
$turquoise: #60E1E0;
$granny-smith-apple: #9EE493;

$white-smoke: #F5F5F5;
$gainsboro: #DFDFDF;

// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
$grey-darker: $japanese-indigo;
$grey-dark: $charcoal;
$grey-light: $gainsboro;
$primary: $slate-blue;
$primary-invert: $white-smoke;
$info: $turquoise;
$info-invert: $white-smoke;
$link: $granny-smith-apple;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$body-background-color: $white-smoke;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

// Import only what you need from Bulma
// @import "../node_modules/bulma/sass/layout/hero.sass"

// Imports last (after variables are changed)
@import "~bulma/bulma";

.rounded-corners {
  border-radius: 10px;
}

.has-margin {
  margin: 1rem 1rem 0 0;
}

.has-bottom-margin {
  margin-bottom: 2rem;
}
